# Java/Spring Boot specific ignores
/target/
/.idea/
.gradle/
build/
out/

# STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans

# Mac / OS X
.DS_Store
# Windows
Thumbs.db

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/